body, html {
    max-height: 100%;
    max-width: 100%;
    min-height:50%;
    min-width:50%;
    background-image: url('smileface.jpg');
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}


.jumbotron{
  background-image: url('jayfont.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size:100%;
  height:20%;
  background-color:white;
  
 
}
.jumbotron .container {
position: relative;
top:100px;
}



.text{
  margin-top: 300px;
  text-align: center;
  padding-right: 20px;
}



.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: white;
  text-align: center;
  height:45px;
  font-size: 15px;
  font-family: 'Shift', sans-serif;
  color:black;
  background-image: black;
}

.button {
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color:Gold;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-size: 45px;
  margin: 0 auto;
  position: relative;
  top: 30%;
  width:35%%;
  height:20%;
  font-family: monospace;


}
.button:hover {background-color: gray}
.button:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#overlay1{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#text1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 45px;
    color: blue;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

