body, html {
    height: 100%;
    width: 100%;

}

.bgimg {
    /* Background image */
    background-image: url('smileface.jpg');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: 500px;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    background-blend-mode: exclusion;
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    background-repeat: no-repeat;

    color:black;
    font-weight: bold;
    /* Add a font */
    font-family:'Shift', sans-serif;
    /* Set the font-size to 25 pixels */

}
.jumbotron{
  background-image: url('jayfont.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.jumbotron .container {
  position: relative;
  top:100px;
}
.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.text{
  margin-top: 300px;
  text-align: center;
  padding-right: 20px;
}


/* Position text in the top-left corner */
.topleft {
    position: absolute;
    top: 0;
    left: 16px;

}


/* Position text in the middle */
.left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center

}

/* Style the <hr> element */

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: white;
  text-align: center;
  height:45px;
  font-size: 15px;
  font-family: 'Shift', sans-serif;
  color:black;
  background-image: black;
}

.button {
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color:Gold;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-size: 45px;
  margin: 0 auto;
  position: relative;
  top: 30%;
  width:35%;
  height:100px;
  font-family: monospace;
  margin-top:100px;

}
.button:hover {background-color: gray}
.button:active {
  background-color: yellow;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#overlay1{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#text1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 45px;
    color: blue;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

